<div class="row">
  <h2 class="text-center">Sagepay Reconciliation</h2>
</div>

<%= react_component("ReconciliationScreen", { sagepayTransactions: @sagepay_transactions,
                                              chopinTransactions:  @chopin_transactions }) %>
